@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> _Signin;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Insurrance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Insurrance.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body class="search-background">
   
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
           
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Insurrance</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                          @if(_Signin.IsSignedIn(User))
                        {
                        <li>
                            <a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                            </li>
                        
                        }
                        </ul>
                    <ul class="navbar-nav">

                        @if (_Signin.IsSignedIn(User))
                        {


                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="RolesList">Roles</a>

                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="UsersList">Users</a>



                            <span class="nav-link text-light dropdown show">Wellcome @User.Identity.Name</span>

                         
                                <form method="post" asp-controller="Account" asp-action="logout">
                                    <button class="btn btn-link">Logout</button>
                                </form>

                        

                          
                           
                      }
                        else
                        {

                            <li class="nav-item dropdown show">
                                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        
                        }
                     
                       
                    </ul>
                     
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
                @RenderBody()
        </main>
    </div>

    <div style=" bottom:0;position: fixed; width:100%;">
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Insurrance - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </div>
    <a href="~/lib/jquery/dist/jquery.min.map"></a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
